[train] #train parameters
epoch = 64
batch_size = 128

reader_num = 8

optimizer = adam
learning_rate = 1e-3
weight_decay = 0
step_size = 5
lr_multiplier = 0.8

dropout = 0.5

[eval] #eval parameters
batch_size = 1
reader_num = 1

[data] #data parameters

recursive = False
json_format = single

train_formatter_type = BasicLSTM
valid_formatter_type = BasicLSTM
test_formatter_type = BasicAttack

[model] #model parameters
model_name = LSTM
output_dim = 20

[output] #output parameters
output_time = 1
test_time = 1

model_name = LSTM

output_function = Basic
output_value = micro_f1,macro_precision,macro_recall,macro_f1

tqdm_ncols = 150
