[train] #train parameters


[eval] #eval parameters


[data] #data parameters
train_dataset_type = JsonFromFiles
train_formatter_type = Basic
train_data_path = /data2/wk/data/pot
train_file_list = train_data_20

valid_dataset_type = JsonFromFiles
valid_formatter_type = Basic
valid_data_path = /data2/wk/data/pot
valid_file_list = test_data_20

test_dataset_type = JsonFromFiles
test_formatter_type = Basic
test_data_path = /data2/wk/data/pot
test_file_list = test_data_20

load_into_mem = True

w2v_path = /data2/wk/data/pot/dict/w2v.npy
word2id_path = /data2/wk/data/pot/dict/word2id_v2.json
id2word_path = /data2/wk/data/pot/dict/id2word_v2.json
word_neighbor_path = /data2/wk/data/pot/dict/neighbor.json
concept_path = /data2/wk/data/pot/dict/concept.json

[model] #model parameters



[output] #output parameters
model_path = /data2/wk/model/pot
tensorboard_path = /data2/wk/tensorboard

